Project3/Web References/CreditCardWSRef/CreditCardWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Zipcode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddCreditCardAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cardNumber" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CSV" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCreditCardAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="getCreditCardCount">
        <s:complexType />
      </s:element>
      <s:element name="getCreditCardCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCreditCardCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="AddCreditCardAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddCreditCardAccount" />
  </wsdl:message>
  <wsdl:message name="AddCreditCardAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddCreditCardAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getCreditCardCountSoapIn">
    <wsdl:part name="parameters" element="tns:getCreditCardCount" />
  </wsdl:message>
  <wsdl:message name="getCreditCardCountSoapOut">
    <wsdl:part name="parameters" element="tns:getCreditCardCountResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditCardWSSoap">
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCreditCardAccount">
      <wsdl:input message="tns:AddCreditCardAccountSoapIn" />
      <wsdl:output message="tns:AddCreditCardAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCreditCardCount">
      <wsdl:input message="tns:getCreditCardCountSoapIn" />
      <wsdl:output message="tns:getCreditCardCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCardWSSoap" type="tns:CreditCardWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreditCardAccount">
      <soap:operation soapAction="http://tempuri.org/AddCreditCardAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCreditCardCount">
      <soap:operation soapAction="http://tempuri.org/getCreditCardCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditCardWSSoap12" type="tns:CreditCardWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreditCardAccount">
      <soap12:operation soapAction="http://tempuri.org/AddCreditCardAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCreditCardCount">
      <soap12:operation soapAction="http://tempuri.org/getCreditCardCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardWS">
    <wsdl:port name="CreditCardWSSoap" binding="tns:CreditCardWSSoap">
      <soap:address location="http://localhost:3321/CreditCardWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditCardWSSoap12" binding="tns:CreditCardWSSoap12">
      <soap12:address location="http://localhost:3321/CreditCardWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>